# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This file designates code owners for this repository.
# Each line is a file pattern followed by one or more owners.

# core maintainers
* @christian-kreuzberger-dtx @MrManny @roman-khazankin-dtx

# allow updates for markdown files and server.json/package.json/manifest.json/...
*.md @krisdyna @dt-benedict
*.json @krisdyna @dt-benedict
